<table class="customers">
  <div class="top5">
    <% if current_user.admin? %>
        <tr>
          <th style="padding-left:12px">Tên Tour</th>
          <th style="padding-left:12px">Khách Hàng</th>
          <th style="padding-left:12px">Điện Thoại</th>
          <th style="padding-left:12px">Email</th>
          <th style="padding-left:12px">Ngày đặt Tour</th>
          <th style="padding-left:12px">
            Khởi hành vào ngày
          </th>
          <th style="padding-left:12px">Số Lượng</th>
          <th style="padding-left:12px">Giá Tiền</th>
          <th style="padding-left:12px">Trạng Thái</th>
        </tr>
      <% @booktours.each do |booktour| %>
        <tr>
          <td style="padding-left:12px">
            <%= booktour.tour.name %>
          </td>
          <td style="padding-left:12px">
            <%= booktour.user.name%>
          </td>
          <td style="padding-left:12px">
            <%= booktour.user.phone%>
          </td>
          <td style="padding-left:12px">
            <%= booktour.user.email%>
          </td>
          <td style="padding-left:12px">
            <%= booktour.datebook.strftime("%d/%m/%Y %H:%M:%S") %>
          </td>
          <td style="padding-left:12px">
            <%= booktour.tour.starday.strftime("%d/%m/%Y") %>
          </td>
          <td style="padding-left:12px">
            <%= booktour.nuofgu%>
          </td>
          <td style="padding-left:12px">
            <%= number_to_currency(booktour.totalprice, unit: "", delimiter: ",") %> VND
          </td>
          <td style="padding-left:12px">
            <%= link_to booktour.status_i18n,
              update_status_booktour_path(booktour.id),
              method: :patch,
              class:"color_status #{booktour.status}",
              data: { confirm: "Xác nhận đặt tour" }
            %>
          </td>
        </tr>
      <% end %>
    <% else %>
        <tr>
          <th style="padding-left:12px">
            Tên Tour
          </th>
          <th style="padding-left:12px">
            Thời gian
          </th>
          <th style="padding-left:12px">
            Khởi hành vào ngày
          </th>
          <th style="padding-left:12px">
            Số thành viên
          </th>
          <th style="padding-left:12px">
            Ngày đặt Tour
          </th>
          <th style="padding-left:12px">
            Tổng tiền
          </th>
          <th style="padding-left:12px">
            Hủy Tour
          </th>
          <th style="padding-left:12px">
            Trạng Thái
          </th>
        </tr>
      <% @booktours.each do |booktour| %>
        <tr>
          <td style="padding-left:12px">
            <%= booktour.tour.name %>
          </td>
          <td style="padding-left:12px">
            <%= booktour.tour.tourday %> ngày
          </td>
          <td style="padding-left:12px">
            <%= booktour.tour.starday.strftime("%d/%m/%Y") %>
          </td>
          <td style="padding-left:12px">
            <%= booktour.nuofgu %>
          </td>
          <td style="padding-left:12px">
            <%= booktour.datebook.strftime("%d/%m/%Y") %>
          </td>
          <td style="padding-left:12px">
            <%= number_to_currency(booktour.totalprice, unit: "", delimiter: ",") %> VND
          </td>
          <% if !booktour.confirmed?%>
            <td style="padding-left:12px">
              <%= link_to "Hủy",booktour_path(booktour), :data => {:confirm => 'Hủy tour này?'}, method: :delete%>
            </td>
          <%else%>
            <td style="padding-left:12px">
              Không thể hủy
            </td>
          <% end %>
          <% if booktour.confirmed? %>
            <td style="color: green;">
              <%= booktour.status_i18n %>
            </td>
          <% else %>
            <td style="color: red;">
              <%= booktour.status_i18n %>
            </td>
          <% end -%>
        </tr>
      <% end %>
    <% end %>
  </div>
</table>
